.inner-big {
  width: 181.3rem;
  margin: 0 auto;
}

.inner {
  width: 128rem;
  margin: 0 auto;

  position: relative;
}

.arrow a.off {
  cursor: default;
  opacity: 0.5;
}

#wrap {
  min-width: 128rem;
  width: 100%;
  overflow: hidden;
}

.section__title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 7rem;
  color: var(--color-base);
}
.section__title--red {
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  color: rgba(238, 49, 35, 0.137);

  position: absolute;
  top: -5.3rem;
  left: 12rem;
}

.section__title--red1 {
  top: 1rem;
  left: 24rem;
}

.arrow {
  width: 8.8rem;
  height: 8.8rem;
  background-color: transparent;
  border: 0.5px solid var(--color-base);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.arrow a {
  font-size: 6.5rem;
  font-weight: 100;
  transform: translateY(-0.8rem);
}

#main {
  padding-top: 2.6rem;
  margin-bottom: 14.5rem;
  display: flex;
  height: calc(100vh - 13.9rem);
}

.main__sidebar {
  width: 29.3rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.main__sidebar .sidebar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;

  position: absolute;
  left: 0;

  padding-top: 19.3rem;
  padding-bottom: 28.1rem;
}

.main__sidebar .sidebar-menu__icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--color-base);
  z-index: 100;
  cursor: pointer;
}

.main__sidebar .sidebar-menu__icon:hover,
.main__sidebar .sidebar-menu__icon:hover a {
  fill: var(--color-accent);
}

.main__sidebar .search-checkbox {
  display: none;
}

.main__sidebar .search-checkbox:checked ~ .search-bar__box {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.main__sidebar .search-checkbox:checked + .search-label .sidebar-menu__icon {
  fill: var(--color-accent);
}

.main__sidebar .sidebar-menu .search-bar__box {
  width: 130%;

  position: absolute;
  left: 0;
  top: 45%;
  opacity: 0;
  transition: all 0.4s;
  backface-visibility: hidden;
}

.main__sidebar .sidebar-menu .search-bar {
  background-color: var(--color-grey-light);
  color: var(--color-base);
  font-size: 1.5rem;
  padding: 0 1.3rem;
  z-index: -1;

  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 2rem;
}

.main__sidebar .sidebar-menu .search-bar__icon {
  display: block;
  background: url(../image/magnifying-glass.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.7rem;
  right: 1.5rem;
}

.search-bar:focus,
.search-bar__icon:focus {
  outline: none;
}

.main__sidebar .sidebar-menu .search-bar::placeholder {
  color: var(--color-grey);
  font-size: 1.5rem;
}

.main__sidebar .search-icon span {
}

.main__slide {
  width: calc(100% - 29.3rem);
}

#main .slide-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 7rem;
  height: 5rem;
}

#main .slide-top .main__slide-tab li {
  font-size: 2rem;
}

#main .slide-top .main__slide-tab li:not(:last-child) {
  margin-right: 8rem;
}

#main .slide-top .main__slide-tab {
  display: flex;
  list-style: none;
}

#main .slide-top .main__slide-tab a.active {
  color: var(--color-accent);
}

#main .main__arrow-left {
  margin-bottom: 1.7rem;
}

#main .main__slide {
  position: relative;
}

#main .main__slide .main__slide-name {
  display: none;
}

#main .main__slide .main__slide-name .slide-type {
  font-size: 3.5rem;
  font-weight: 500;
  margin-right: 2rem;
}

#main .main__slide .main__slide-name .slide-title {
  font-size: 7rem;
  font-weight: 700;
}

#main .main__slide .slide-box {
  width: 151.9rem;
  height: calc(100% - 6rem);
  margin-top: 1rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

#main .main__slide .slide-image {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all cubic-bezier(0.69, -0.05, 0.29, 1.06) 1s;
}

#main .main__slide .slide-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#main .main__slide .slide-image li {
  display: none;
}

#main .main__slide .slide-image li:first-child {
  display: block;
}

.btn-box {
  position: absolute;
}

.ticketing-btn {
  bottom: -2rem;
  right: 5rem;
}

.redbox {
  border: none;
  background-color: var(--color-accent);
  width: 16rem;
  height: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s;
}

.redbox:active {
  transform: translateY(3px);
}

.redbox:hover a::after {
  width: 180%;
}

.redbox a {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2em;
  transform: translateY(-0.5rem);
}

.redbox a::after {
  content: "";
  /*
  margin-top: -1.1rem;
  margin-left: -.7rem;*/
  width: 4rem;
  height: 0.2rem;
  display: block;
  background-color: #fff;
  transform: translateX(0.3rem) translateY(0.4rem);
  transition: width 0.8s;
}

#showing {
  position: relative;
}

#showing .showing__content {
  display: flex;
  width: calc(100% - 38.3rem);
  margin-left: 33.8rem;
  margin-right: 4.5rem;
  position: relative;

  overflow: hidden;
}

#showing .showing__content li {
  display: none;
}

#showing .showing__content li:first-child {
  display: block;
}

#showing .content-info {
  width: 151.9rem;
  height: 40rem;
}

#showing .yellow {
  background-image: linear-gradient(to right, #fff 0%, #fff 30%, #ffb600 30%);
}

#showing .green {
  background-image: linear-gradient(to right, #fff 0%, #fff 30%, #a5bbc2 30%);
}

#showing .content-info__text-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 128rem;
  padding-top: 1.8rem;
}

#showing .content-info__title {
  font-family: source-han-serif-korean, serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  width: 35%;

  display: flex;
  justify-content: center;
}

#showing .content-info__detail {
  font-family: source-han-serif-korean, serif;
  font-weight: 400;
  font-size: 2.8rem;
  font-style: normal;
}

#showing .content-info__detail span {
  display: block;
  text-align: right;
}

#showing img {
  transform: translateY(-40%);
}

#showing .arrow-box > * {
  position: absolute;
  top: 40%;
  border: none;
  background-color: rgba(255, 255, 255, 0.87);
}

#showing .arrow-box > *:hover {
  background-color: rgba(56, 56, 56, 0.877);
}

#showing .arrow-box > *:hover a {
  color: #fff;
  font-weight: 100;
}

#showing .arrow-box .showing__arrow-left {
  left: 2rem;
}

#showing .arrow-box .showing__arrow-right {
  right: 25.1rem;
}

#showing .showing__more-btn {
  width: 28rem;
  height: 7rem;
  background-color: rgba(256, 256, 256, 0.87);
  color: inherit;

  position: absolute;
  left: 2rem;
  bottom: 2rem;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 200;
}

#showing .showing__more-btn a {
  color: inherit;
  font-size: 4.5rem;
  text-transform: uppercase;
  text-decoration: underline;
}

#guide {
  margin-top: -8.4rem;
  margin-bottom: 14.5rem;
}

#guide .guide__content {
  display: flex;
  height: 41rem;
}

#guide .guide__content .guide__content--detail {
  width: 65%;
  margin-right: auto;
}
#guide .guide__content .guide__content--detail > * {
  display: none;
}

#guide .guide__content .seating-plan img {
  display: none;
}

#guide .guide__content .seating-plan img:first-child {
  display: block;
}

#guide .guide__content .floor-guide__list > li {
  line-height: 4.8rem;
  height: 4.8rem;
  margin-bottom: 3.4px;
  position: relative;
}

#guide .guide__content .floor-guide__list > li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5rem;
  height: 100%;
  width: 3px;
  background-color: var(--color-accent);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

#guide .guide__content .floor-guide__list > li:hover::before {
  transform: scaleY(1);
  width: 100%;
}

#guide .guide__content .floor-guide__list > li:hover a {
  color: #fff;
}

#guide .guide__content .floor-guide__list li a {
  display: block;
  display: flex;
  align-items: center;
  transition: color 0.1s 0.2s;
}

#guide .guide__content .floor-guide__list .b34 div {
  font-size: 2rem;
  letter-spacing: -1px;
}
#guide .guide__content .floor-guide__list .floor__num {
  font-size: 2.3rem;
  font-weight: 500;
  width: 8%;
  z-index: 99999;
}

#guide .guide__content .floor-guide__list .floor__space {
  display: flex;
  font-size: 1.6rem;
}

#guide .guide__content .floor-guide__list .floor__space li {
  margin-right: 1.5rem;
  position: relative;
}

#guide
  .guide__content
  .floor-guide__list
  .floor__space
  li:not(:last-child)::after {
  content: "•";
  display: block;
  position: absolute;
  right: -1.1rem;
  top: 0;
}

#guide .guide__content .guide__tab {
  width: 30%;
}

#guide .guide__content .guide__tab li {
  border-bottom: 1.5px solid var(--color-grey-light2);
}

#guide .guide__content .guide__tab li:first-child {
  display: flex;
  align-items: center;
}

#guide .guide__content .guide__tab li:first-child a {
  margin-right: 2rem;
}

#guide .guide__content .guide__tab li:first-child select {
  width: 13rem;
}

#guide .guide__content .guide__tab li:hover a {
  color: var(--color-accent);
}

#guide .guide__content .guide__tab li a {
  font-size: 4.2rem;
  font-weight: 900;
  color: var(--color-grey-light2);
  letter-spacing: 0.2rem;
  line-height: 2em;
}

#guide .guide__content .guide__tab li a.active {
  color: var(--color-accent);
}

#news {
  margin-bottom: 14.5rem;
}

#news .news__content-box {
  display: grid;
  grid-template-rows: 52.3rem;
  grid-template-columns: repeat(3, 33.5rem);

  grid-gap: 13.8rem;
}

#news .news__content-box > * {
  overflow: hidden;
}

#news .news__content-box .img-box {
  width: 100%;
  height: 38.4rem;
  overflow: hidden;
}

#news .news__content-box img {
  width: 100%;
  margin-bottom: 0.8rem;
  transition: all 0.3s;
}

#news .news__content-box .c__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#news .news__content-box .c__date {
  font-size: 1.8rem;
  position: relative;
}

#news .news__content-box .c__date::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: var(--color-accent);
  position: absolute;
  left: 6.5rem;
  bottom: 0.95rem;
  transition: width 0.8s;
}

#news .news__content-box > *:hover img {
  transform: scale(1.1);
}

#news .news__content-box > *:hover .c__date::after {
  width: 100%;
}

#ask {
  background-color: var(--color-base);
  color: #fff;
  padding: 9rem 0;
}

#ask .ask__top {
  position: relative;
}

#ask .ask__top::after {
  content: "";
  display: block;
  width: 90%;
  height: 0.1rem;
  background-color: var(--color-grey-light);
  margin: 0 auto;
}
#ask .ask__top .ask__content-box {
  margin-bottom: 7rem;
}

#ask .ask__top .ask__description {
  font-size: 1.7rem;
  line-height: 2em;
  margin-bottom: 5rem;
}

#ask .ask__top .ask__cscenter--title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5em;
  display: inline-block;
  margin-right: 3rem;
}

#ask .ask__top .ask__cscenter--number {
  font-size: 1.8rem;
  line-height: 3rem;
  display: inline-block;
}

#ask .ask__top .ask__cscenter--operation {
  margin-bottom: 5rem;
}

#ask .ask__top .ask__cscenter--operation span {
  display: block;
  font-size: 1.5rem;
  line-height: 2em;
}

#ask .ask__top .ask-btn {
  top: 44%;
  right: 30%;
}

#ask .ask__top .ask__sns {
  display: flex;
  align-items: center;
}

#ask .ask__top .ask__sns--title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5em;
  margin-right: 3rem;
}

#ask .ask__top .ask__sns--icon {
  display: flex;
}

#ask .ask__top .ask__sns--icon li:not(:last-child) {
  margin-right: 1.8rem;
}

#ask .ask__top .ask__sns--icon li:last-child {
  margin-left: 1rem;
}

#ask .ask__top .ask__sns--icon svg {
  width: 2.8rem;
  height: 2.8rem;
}

#ask .ask__top .ask__sns--icon svg use {
  fill: #fff;
}

#ask .ask__bottom {
  font-size: 1.3rem;
  padding-top: 6rem;
  line-height: 2em;
}
